$structure-container-width-max: false;

$aegaron-background-dark: #222222;
$aegaron-background-med-dark: #444444;
$aegaron-background-med-light: #cccccc;
$aegaron-background-light: #eeeeee;
$bgimg: '/sites/drupal_site_9/themes/aegaron/assets/img/aegaron-background.png';
