@import "WebBlocks";

html {
    height:100%;
}

body {
    height: 100%;
}

header {
    .top-header {
        min-height: 20px;
    }

    .masthead { 
        margin-bottom: 0;

        #logo img {
            width: 200px;
        }

        .nav-browse { 
            h2 {
                font-size: .9rem;
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: .1rem;
            }
            ul {
                margin-left: 0;
                li {
                    font-size: .8rem;
                    list-style: none;

                    a {
                        color: #444444;
                    }
                }
            }
        }

        .nav-search {
            @extend .nav-browse;
        }
    }
}

#navigation h2 {
    @extend .hide-accessible;
}

.tabs ul.primary {
    li a {
        background: #87c7ff;
        color: #222222;
    }

    li.active a {
        background: #eeeeee;
    }
}

#main-wrapper {
    border-top: ridge 3px #666666;
    min-height: 30em;

    /* fallback */
    background-color: $aegaron-background-dark;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($aegaron-background-dark), to($aegaron-background-med-dark));
    background: -webkit-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background: -moz-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background: -ms-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background: -o-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background-repeat: no-repeat;

    color: #cccccc;

    a {
        color: #87C7FF;
    }

    #messages {
        .messages.status {
            a {
                color: #073198;
            }
        }
    }
}

.front #main-wrapper {
    min-height: 500px;
    background-image: url($bgimg);
    background-color: $aegaron-background-dark;
    background: url($bgimg), -webkit-gradient(linear, 0% 0%, 0% 100%, from($aegaron-background-dark), to($aegaron-background-med-dark));
    background: url($bgimg), -webkit-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background: url($bgimg), -moz-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background: url($bgimg), -ms-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background: url($bgimg), -o-linear-gradient(top, $aegaron-background-med-dark, $aegaron-background-dark);
    background-repeat: no-repeat;
}

.front #main h1.title {
    font-size: 1.8rem;
    font-weight: normal;
}

body.sidebar-first #main-wrapper {
    background-image: -webkit-gradient(
        linear,
        left top, 
        right top, 
        color-stop(0, #ccc), 
        color-stop(24.5%, #ddd), 
        color-stop(24.5%, #eee), 
        color-stop(25%, #ddd), 
        color-stop(25%, #eee), 
        color-stop(100%, #eee)
    );
    background-image: -webkit-linear-gradient( left, #ccc, #ddd 24.5%, #eee 24.5%, #ddd 25%, #eee 25%, #eee 100% );
    background-image: -moz-linear-gradient( left, #ccc, #ddd 24.5%, #eee 24.5%, #ddd 25%, #eee 25%, #eee 100% );
    background-image: -ms-linear-gradient( left, #ccc, #ddd 24.5%, #eee 24.5%, #ddd 25%, #eee 25%, #eee 100% );
    background-image: -o-linear-gradient( left, #ccc, #ddd 24.5%, #eee 24.5%, #ddd 25%, #eee 25%, #eee 100% );

    color: #222222;

    a {
        color: #073198;
    }
}

#main {
    #sidebar-first {
        .block {
            h2 {
                font-size: 1rem;
                margin-top: 1rem;
            }

            ul {
                margin-left: .2rem;

                li.leaf {
                    list-style-image: none;
                    list-style-type: none;

                    a {
                        color: #222222;
                    }
                }
            }
        }
    }
}

#footer {
    .section {
        background: #ffffff;
        border-top: ridge 3px #666666;
        padding: 1rem 0;

        .region-footer {
            .block {
                border-right: dotted 1px #aaaaaa;
                height: 100%;

                h2.block-title {
                    font-size: 1rem;
                    font-weight: normal;
                }

                ul li {
                    font-size: .7rem;
                    list-style-image: url(/sites/drupal_site_9/themes/aegaron/assets/img/bullet-arrow-orange-inactive.png);

                    a {
                        color: #444444;
                    }
                }
            }

            .block:last-child {
                border-right: none;
            }
        }
    }
}

/* Display Term Detail Page  */

body[class*='page-terms-21198-'] {
    #page-title {
        display: none;
    }

    #main-wrapper {

        /* fallback */
        background-color: $aegaron-background-med-light;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($aegaron-background-med-light), to($aegaron-background-med-light));
        background: -webkit-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);
        background: -moz-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);
        background: -ms-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);
        background: -o-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);

        color: #222222;

        a {
            color: #073198;
        }
    }

    .view {
        margin-top: 10px;
        .main-image {
            width: 90%;
            /*height: 300px;*/
            display: table;

            img {
                border: solid 10px #666666;
                max-height: 500px;
                max-width: 500px;
            }

            .missing-image {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                min-height: 300px;
            }
        }

        .term-chart {
            table {
                width: 100%;
                min-height: 300px;

                tbody {
                    border-top: none;
                }

                th {
                    border-top: none;
                    border-bottom: solid 3px #999999;
                }

                td {
                    border: solid 1px #999999;
                    padding: 1rem;
                }
            }
        }

        .supplement-images {
            margin: 15px 0;

            img {
                border: solid 10px #666666;
                max-height: 500px;
                margin-right: 15px;
            }
        }

        .see-also {
            h2 {
                font-size: 1.5rem;
                font-variant: small-caps ;
            }

            dt {
                font-size: .9rem;
                text-transform: uppercase;
            }

            dd {
                margin-bottom: 1rem;
            }
        }
    }
}

/* Search Terms */

body.page-search-terms {

    #main-wrapper {

        /* fallback */
        background-color: $aegaron-background-med-light;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($aegaron-background-med-light), to($aegaron-background-med-light));
        background: -webkit-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);
        background: -moz-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);
        background: -ms-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);
        background: -o-linear-gradient(top, $aegaron-background-light, $aegaron-background-med-light);

        color: #222222;

        a {
            color: #073198;
        }

        .view {

            .views-exposed-form {
                margin-bottom: 1em;

                #edit-tid-wrapper {
                    padding: 0;

                    label {
                        @extend .hide-accessible
                    }

                    .form-item-tid #edit-tid {
                        margin-right: 0;
                        margin-bottom: 0;
                        height: 2em;
                        padding: .5em;
                        font-size: 1em;
                        line-height: 1em;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                        width: 20em;
                        background-position: 99% 8px;
                        border-right: 0;
                    }


                    .form-item-tid #edit-tid.throbbing {
                        background-position: 99% -12px;
                    }
                }

                .views-submit-button {
                    padding: 0;

                    .form-submit {
                        margin-top: 0;
                        margin-bottom: 0;
                        height: 2em;
                        padding: .5em;
                        font-size: 1em;
                        line-height: 1em;
                        text-transform: uppercase;
                        background: $aegaron-redorange-dark;
                        color: #fff;
                        border: solid 1px #999;
                        border-bottom: solid 1px #ccc;
                        border-left: 0;
                    }

                    .form-submit:hover,
                    .form-submit:focus,
                    .form-submit:active {
                        background: $aegaron-redorange;
                        color: #000;
                    }
                }
            }
        }
    }
}

