@import "WebBlocks";

html {
    height:100%;
}

body {
    height: 100%;
}

#navigation h2 {
    @extend .hide-accessible;
}

#footer .section {
    background: #eeeeee;
    display: table;
}

#footer .region-footer .block {
    border-right: dotted 1px #aaaaaa;
    height: 100%;
    display: table-cell;
    width: 25%;
    padding: 1em;
}

#footer .region-footer .block:last-child {
    border-right: none;
}

#footer .region-footer .block h2.block-title {
    font-size: 1rem;
    font-weight: normal;
}

#footer .region-footer .block ul li {
    font-size: .8rem;
}

