@import "WebBlocks";

html {
    height:100%;
}

body {
    height: 100%;
}

header .masthead #logo img {
    width: 200px;
}

#navigation h2 {
    @extend .hide-accessible;
}

#footer .section {
    background: #ffffff;
    padding: 1em 0;
}

#footer .region-footer .block {
    border-right: dotted 1px #aaaaaa;
    height: 100%;
}

#footer .region-footer .block:last-child {
    border-right: none;
}

#footer .region-footer .block h2.block-title {
    font-size: 1rem;
    font-weight: normal;
}

#footer .region-footer .block ul li {
    font-size: .8rem;
}

